@page
@model BradsBank.Views.Home.AccountActionsModel
@{
}

<script>
    // Javascript Here
</script>

<div class="action">
    <a href="~/Home/Deposit">Deposit</a>
    <a href="~/Home/Withdraw">Withdraw</a>
    <a href="~/Home/Transfer">Transfer</a>
</div>


<!--

    JavaScript

    Dropdown menu -> Deposit / Withdraw / Transfer

    If they choose deposit show a certain form for depositing
        Dropdown menu with account options
        Amount to deposit
        Submit Button

    If they choose withdraw show a certain form for withdraw
        Dropdown menu with account options
        Amount to withdraw
        Submit Button

    If they choose transfer show a certain form for transfer
        Dropdown menu for Transfer From:
        Dropdown menu for Transfer To:
        Amount to withdraw
        Submit

-->
