@page
@model BradsBank.Views.Home.AccountActionsModel
@{
}

<style>
    .action {
        text-align: center;
    }

    a:hover {
        color: #275184;
        background-color: #d6d9dc;
        text-decoration: none;
    }

    .accbtn1 {
        background-color: #e8ebed;
        color: #000000;
        padding: 10px 64px;
        text-decoration: none;
    }

    .accbtn2 {
        background-color: #e8ebed;
        color: #000000;
        padding: 10px 49px;
        text-decoration: none;
    }

    .accbtn3 {
        background-color: #e8ebed;
        color: #000000;
        padding: 10px 62px;
        text-decoration: none;
    }

    .accbtn4 {
        background-color: #e8ebed;
        color: #000000;
        padding: 10px 30px;
        text-decoration: none;
    }
</style>


<div class="action">
    <h2><a class="accbtn1" href="~/Home/Deposit">Deposit</a></h2><br>
    <h2><a class="accbtn2" href="~/Home/Withdraw">Withdraw</a></h2><br>
    <h2><a class="accbtn3" href="~/Home/Transfer">Transfer</a></h2><br>
    <h2><a class="accbtn4" href="~/Home/Transactions">Transactions</a></h2><br>
</div>
