@page
@model BradsBank.Views.Home.AccountActionsModel
@{
}

<script>
    
</script>

<css>

</css>

<div class="action">
    <a href="~/Home/Deposit">Deposit</a>
    <a href="~/Home/Withdraw">Withdraw</a>
    <a href="~/Home/Transfer">Transfer</a>
</div>
