@page
@model BradsBank.Views.Home.AccountActionsModel
@{
}

<script>
    // Javascript Here
</script>

<div class="action">
    <a href="~/Home/Deposit">Deposit</a>
    <a href="~/Home/Withdraw">Withdraw</a>
    <a href="~/Home/Transfer">Transfer</a>
</div>
