@page
@model BradsBank.Views.Home.AccountActionsModel
@{
}

<script>

</script>

<css>

</css>

<div class="action">
    <h2><a href="~/Home/Deposit">Deposit</a></h2>
    <h2><a href="~/Home/Withdraw">Withdraw</a></h2>
    <h2><a href="~/Home/Transfer">Transfer</a></h2>
</div>
