@page
@model BradsBank.Views.Home.DepositModel
@{
}

<script>
    // Javascript Here
</script>

<h1>Create Deposit Forms Here</h1>

<!--
    
    JavaScript

    Dropdown menu -> Deposit / Withdraw / Transfer

    If they choose deposit show a certain form for depositing
        Dropdown menu with account options
        Amount to deposit
        Submit Button

-->