@page
@model BradsBank.Views.Home.DepositModel
@{
}

<script>
    //if depositbtn is clicked, run deposit SQL
    //SELECT [depositAccount] FROM [accountTable] Where [account = depositAccount] ... 
    //update CurrentBalance
    //update [Transactions]
</script>

<style>
    .deposit {
        margin-left: 100px;
    }

    .depositbtn {
        font-weight: bold;
    }
</style>

<div class="deposit">
    <form action="~/Home/DepositMoney">
        <input type="hidden" name="username" value="@Model.Username" />

        <div class="selectaccount">
            <p>
                <label for="account">Deposit To</label><br>
                <select name="account" id="account">
                    <option class="op1" value="savings">Savings</option>
                    <option class="op2" value="checking">Checking</option>
                    <option class="op3" value="creditcard">Credit Card</option>
                </select><br>
            </p>
        </div>
        <p>
            <label for="amount">Deposit Amount</label><br>
            <input type="text" name="amount" id="depositamount"><br><br>
        </p>

        <input type="submit" value="Deposit">
    </form>
</div>
<!--

    JavaScript

    Dropdown menu -> Deposit / Withdraw / Transfer

    If they choose deposit show a certain form for depositing
        Dropdown menu with account options
        Amount to deposit
        Submit Button

-->
