@page
@model BradsBank.Views.Home.TransactionsModel
@{
}

<script>

</script>

<css>

</css>


<section>
    <h1>Transactions</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Account</th>
            <th>Amount</th>
        </tr>

        <!--
        <?php
        while($rows=$result->fetch_assoc())
        {
        ?>
        <tr>
            <td><?php echo $rows['date'];?></td>
            <td><?php echo $rows['type'];?></td>
            <td><?php echo $rows['account'];?></td>
            <td><?php echo $rows['amount'];?></td>
        </tr>
        <?php
        }
        ?>
        -->
    </table>
</section>
<!--

Based on a dropdown menu

Table for each of them

    Date    Type    Account     Amount

-->
