@page
@model BradsBank.Views.Home.TransactionsModel
@{
}

<script>

</script>

<css>

</css>
<h1>Create Withdrawal Transactions / Deposit Transactions / Transfer Transactions / Combined View Of All Transactions Table Here </h1>

<!--

Based on a dropdown menu

Table for each of them

    Date    Type    Account     Amount

-->
