@page
@model BradsBank.Views.Home.TransferModel
@{
}

<script>
    // Javascript Here
</script>

<h1>Create Transfer Forms Here</h1>

<!--

    If they choose transfer show a certain form for transfer
        Dropdown menu for Transfer From:
        Dropdown menu for Transfer To:
        Amount to withdraw
        Submit

-->