@page
@model BradsBank.Views.Home.TransferModel
@{
}

<script>
    // Javascript Here
</script>

<h1>Create Deposit / Withdrawal / Transfer Forms Here</h1>

<!--
    
    JavaScript

    Dropdown menu -> Deposit / Withdraw / Transfer

    If they choose deposit show a certain form for depositing
        Dropdown menu with account options
        Amount to deposit
        Submit Button

    If they choose withdraw show a certain form for withdraw
        Dropdown menu with account options
        Amount to withdraw
        Submit Button

    If they choose transfer show a certain form for transfer
        Dropdown menu for Transfer From:
        Dropdown menu for Transfer To:
        Amount to withdraw
        Submit

-->