@model BradsBank.Views.Home.TransactionsActionsModel
@{
}

<style>
    .action {
        text-align: center;
    }

    .accbtn1 {
        background-color: #e8ebed;
        color: #000000;
        padding: 10px 54px !important;
        text-decoration: none;
    }

    .accbtn2 {
        background-color: #e8ebed;
        color: #000000;
        padding: 10px 36px !important;
        text-decoration: none;
    }

    .accbtn3 {
        background-color: #e8ebed;
        color: #000000;
        padding: 10px 28px !important;
        text-decoration: none;
    }

    .accbtn4 {
        background-color: #e8ebed;
        color: #000000;
        padding: 10px 92px !important;
        text-decoration: none;
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bank of Brad</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Home/AccountActions?username=@Model.Username">Manage Account</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Home/TransactionsActions?username=@Model.Username">View Transactions</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="action">
    <h2><a class="accbtn1" href="~/Home/Transactions?username=@Model.Username&type=Savings">Savings Transactions</a></h2><br>
    <h2><a class="accbtn2" href="~/Home/Transactions?username=@Model.Username&type=Checking">Checkings Transactions</a></h2><br>
    <h2><a class="accbtn3" href="~/Home/Transactions?username=@Model.Username&type=CreditCard">Credit Card Transactions</a></h2><br>
    <h2><a class="accbtn4" href="~/Home/Transactions?username=@Model.Username&type=All">All Transactions</a></h2><br>
</div>
