@page
@model BradsBank.Views.Home.TransferModel
@{
}

<script>
    //if transferbtn is clicked, run SQL
    //SELECT [TransferAccount1], [TransferAccount2] FROM [Account] Where [account = transferAccount1/AND account2] ... 
    //Update CurrentBalance in Acc1 & Acc2
    //update [TransactionTable]
</script>

<style>
    .transfer {
        margin-left: 100px;
    }
    .transferbtn {
        font-weight: bold;
    }
</style>

<div class="transfer">
    <form>
        <div class="selectaccount1">
            <p>
                <label for="acc">Transfer From</label><br>
                <select name="acc" id="acc">
                    <option class="op1" value="savings">Savings</option>
                    <option class="op2" value="checking">Checking</option>
                    <option class="op3" value="cc">Credit Card</option>
                </select><br>
            </p>
        </div>
        <div class="selectaccount2">
            <p>
                <label for="acc">To</label><br>
                <select name="acc" id="acc">
                    <option class="op1" value="savings">Savings</option>
                    <option class="op2" value="checking">Checking</option>
                    <option class="op3" value="cc">Credit Card</option>
                </select><br>
            </p>
        </div>
        <p>
            <label for="amount">Transfer Amount</label><br>
            <input type="text" name="amount" id="transferamount"><br><br>
        </p>
        <button class="transferbtn">Transfer</button>
    </form>
</div>
<!--

    If they choose transfer show a certain form for transfer
        Dropdown menu for Transfer From:
        Dropdown menu for Transfer To:
        Amount to withdraw
        Submit

-->
