@page
@model BradsBank.Views.Home.WithdrawModel
@{
}

<script>
    // Javascript Here
</script>

<h1>Create  Withdrawal Forms Here</h1>

<!--

    If they choose withdraw show a certain form for withdraw
        Dropdown menu with account options
        Amount to withdraw
        Submit Button

-->