@page
@model BradsBank.Views.Home.WithdrawModel
@{
}

<script>
    //if withdrawbtn is clicked, run SQL
    //SELECT [withdrawAccount] FROM [accountTable] Where [account = withdrawtAccount] ...
    //update balance
    //update [TransactionTable]
</script>

<style>
    .withdraw {
        margin-left: 100px;
    }

    .withdrawbtn {
        font-weight: bold;
    }
</style>

<div class="withdraw">
    <form>
        <div class="selectaccount">
            <p>
                <label for="acc">Withdraw From</label><br>
                <select name="acc" id="acc">
                    <option class="saving">Savings</option>
                    <option class="checking">Checking</option>
                    <option class="cc">Credit Card</option>
                </select><br>
            </p>
        </div>
        <p>
            <label for="amount">Withdraw Amount</label><br>
            <input type="text" name="amount" id="withdrawamount"><br><br>
        </p>
        <button class="withdrawbtn">Withdraw</button>
    </form>
</div>
<!--

    If they choose withdraw show a certain form for withdraw
        Dropdown menu with account options
        Amount to withdraw
        Submit Button

-->
